header {
    background-color: peachpuff;
    padding: 64px;
    text-align: center;
  }
  .header-title {
    font-size: 61px;
    color: rgb(0, 0, 0);
    margin-left: -165px;
  }
  
  .footer {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
}

  .cont {
    padding: 20px; 
    text-align: center;
    background-color: peachpuff; 
   }


  #Fleure{
    font-size: larger;
  }
  #Alex{
  font-size: larger;
  }
  .image-container {
    float: right;
    width: 172px; 
    margin-right: -80px;
    margin-top: -134px
  }
  .image-container img {
    width: 100%; 
    height: auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.imgcontainer {
    margin: 0px;
    padding: 20px;
    background-color: rgb(249, 255, 213); 
    text-align: center;
}

.imgcontainer img {
    max-width: 100%;
    height: auto;
}

.description {
    margin-top: 10px;
    text-align: center;
}



